/* stars.css */
/* Style for the falling stars */
.star {
    position: fixed;
    background: white;
    width: 2px;
    height: 2px;
    animation: starFall 5s linear infinite;
    opacity: 0; /* Initially hidden */
  }
  
  /* Keyframes animation for the falling stars */
@keyframes starFall {
    0% {
      transform: translateY(0) rotate(0);
      opacity: 1;
      box-shadow: none;
    }
    50% {
      transform: translateY(50vh) rotate(180deg);
      opacity: 0.5;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
      box-shadow: none;
    }
  }
/* Style for the welcome message */
#welcome-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 48px; /* Increase the font size */
  color: #d90000; /* Change the text color to a fancy blue */
  opacity: 1;
  transition: opacity 1s ease;
  font-family: "Times New Roman", cursive; /* Apply a cursive font for a fancy look */
  letter-spacing: 3px; /* Add letter spacing for a unique style */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  padding: 20px; /* Add padding around the text */
  background-color: rgba(255, 255, 255, 0.5); /* Set background color to white with 50% opacity */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the speech bubble */
}
